@font-face {
  font-family: minecraftia;
  src: url(assets/Minecraftia2.ttf); }

/* line 53, /Users/piercecorcoran/Desktop/MineCraft Draw/index.scss */
.cube {
  position: relative;
  padding: 8px;
  height: 22px;
  width: 22px;
  margin: 0px auto;
  -webkit-transition: -webkit-transform 2s linear;
  -webkit-transform-style: preserve-3d;
  -moz-transition: -moz-transform 2s linear;
  -moz-transform-style: preserve-3d;
  transition: transform 2s linear;
  transform-style: preserve-3d;
  font-size: 2px; }

/* line 68, /Users/piercecorcoran/Desktop/MineCraft Draw/index.scss */
.cube * {
  image-rendering: -moz-crisp-edges;
  /* Firefox */
  image-rendering: -o-crisp-edges;
  /* Opera */
  image-rendering: crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  /* Webkit (non-standard naming) */
  -ms-interpolation-mode: nearest-neighbor;
  /* IE (non-standard property) */ }

/* line 72, /Users/piercecorcoran/Desktop/MineCraft Draw/index.scss */
.cube .full {
  width: 16em;
  height: 16em; }

@-webkit-keyframes cube {
  /* line 79, /Users/piercecorcoran/Desktop/MineCraft Draw/index.scss */
  from {
    -webkit-transform: rotateY(0deg) rotateX(25deg);
    -moz-transform: rotateY(0deg) rotateX(25deg);
    -ms-transform: rotateY(0deg) rotateX(25deg);
    -o-transform: rotateY(0deg) rotateX(25deg);
    transform: rotateY(0deg) rotateX(25deg); }

  /* line 82, /Users/piercecorcoran/Desktop/MineCraft Draw/index.scss */
  to {
    -webkit-transform: rotateY(360deg) rotateX(25deg);
    -moz-transform: rotateY(360deg) rotateX(25deg);
    -ms-transform: rotateY(360deg) rotateX(25deg);
    -o-transform: rotateY(360deg) rotateX(25deg);
    transform: rotateY(360deg) rotateX(25deg); } }

@-moz-keyframes cube {
  /* line 79, /Users/piercecorcoran/Desktop/MineCraft Draw/index.scss */
  from {
    -webkit-transform: rotateY(0deg) rotateX(25deg);
    -moz-transform: rotateY(0deg) rotateX(25deg);
    -ms-transform: rotateY(0deg) rotateX(25deg);
    -o-transform: rotateY(0deg) rotateX(25deg);
    transform: rotateY(0deg) rotateX(25deg); }

  /* line 82, /Users/piercecorcoran/Desktop/MineCraft Draw/index.scss */
  to {
    -webkit-transform: rotateY(360deg) rotateX(25deg);
    -moz-transform: rotateY(360deg) rotateX(25deg);
    -ms-transform: rotateY(360deg) rotateX(25deg);
    -o-transform: rotateY(360deg) rotateX(25deg);
    transform: rotateY(360deg) rotateX(25deg); } }

@-o-keyframes cube {
  /* line 79, /Users/piercecorcoran/Desktop/MineCraft Draw/index.scss */
  from {
    -webkit-transform: rotateY(0deg) rotateX(25deg);
    -moz-transform: rotateY(0deg) rotateX(25deg);
    -ms-transform: rotateY(0deg) rotateX(25deg);
    -o-transform: rotateY(0deg) rotateX(25deg);
    transform: rotateY(0deg) rotateX(25deg); }

  /* line 82, /Users/piercecorcoran/Desktop/MineCraft Draw/index.scss */
  to {
    -webkit-transform: rotateY(360deg) rotateX(25deg);
    -moz-transform: rotateY(360deg) rotateX(25deg);
    -ms-transform: rotateY(360deg) rotateX(25deg);
    -o-transform: rotateY(360deg) rotateX(25deg);
    transform: rotateY(360deg) rotateX(25deg); } }

@keyframes cube {
  /* line 79, /Users/piercecorcoran/Desktop/MineCraft Draw/index.scss */
  from {
    -webkit-transform: rotateY(0deg) rotateX(25deg);
    -moz-transform: rotateY(0deg) rotateX(25deg);
    -ms-transform: rotateY(0deg) rotateX(25deg);
    -o-transform: rotateY(0deg) rotateX(25deg);
    transform: rotateY(0deg) rotateX(25deg); }

  /* line 82, /Users/piercecorcoran/Desktop/MineCraft Draw/index.scss */
  to {
    -webkit-transform: rotateY(360deg) rotateX(25deg);
    -moz-transform: rotateY(360deg) rotateX(25deg);
    -ms-transform: rotateY(360deg) rotateX(25deg);
    -o-transform: rotateY(360deg) rotateX(25deg);
    transform: rotateY(360deg) rotateX(25deg); } }

/* line 87, /Users/piercecorcoran/Desktop/MineCraft Draw/index.scss */
.cube.spin {
  -webkit-animation: cube 10s linear 0s infinite;
  -moz-animation: cube 10s linear 0s infinite;
  -ms-animation: cube 10s linear 0s infinite;
  -o-animation: cube 10s linear 0s infinite;
  animation: cube 10s linear 0s infinite; }

@-webkit-keyframes cube {
  /* line 96, /Users/piercecorcoran/Desktop/MineCraft Draw/index.scss */
  from {
    -webkit-transform: rotateY(0deg) rotateX(25deg);
    -moz-transform: rotateY(0deg) rotateX(25deg);
    -ms-transform: rotateY(0deg) rotateX(25deg);
    -o-transform: rotateY(0deg) rotateX(25deg);
    transform: rotateY(0deg) rotateX(25deg); }

  /* line 99, /Users/piercecorcoran/Desktop/MineCraft Draw/index.scss */
  to {
    -webkit-transform: rotateY(360deg) rotateX(25deg);
    -moz-transform: rotateY(360deg) rotateX(25deg);
    -ms-transform: rotateY(360deg) rotateX(25deg);
    -o-transform: rotateY(360deg) rotateX(25deg);
    transform: rotateY(360deg) rotateX(25deg); } }

@-moz-keyframes cube {
  /* line 96, /Users/piercecorcoran/Desktop/MineCraft Draw/index.scss */
  from {
    -webkit-transform: rotateY(0deg) rotateX(25deg);
    -moz-transform: rotateY(0deg) rotateX(25deg);
    -ms-transform: rotateY(0deg) rotateX(25deg);
    -o-transform: rotateY(0deg) rotateX(25deg);
    transform: rotateY(0deg) rotateX(25deg); }

  /* line 99, /Users/piercecorcoran/Desktop/MineCraft Draw/index.scss */
  to {
    -webkit-transform: rotateY(360deg) rotateX(25deg);
    -moz-transform: rotateY(360deg) rotateX(25deg);
    -ms-transform: rotateY(360deg) rotateX(25deg);
    -o-transform: rotateY(360deg) rotateX(25deg);
    transform: rotateY(360deg) rotateX(25deg); } }

@-o-keyframes cube {
  /* line 96, /Users/piercecorcoran/Desktop/MineCraft Draw/index.scss */
  from {
    -webkit-transform: rotateY(0deg) rotateX(25deg);
    -moz-transform: rotateY(0deg) rotateX(25deg);
    -ms-transform: rotateY(0deg) rotateX(25deg);
    -o-transform: rotateY(0deg) rotateX(25deg);
    transform: rotateY(0deg) rotateX(25deg); }

  /* line 99, /Users/piercecorcoran/Desktop/MineCraft Draw/index.scss */
  to {
    -webkit-transform: rotateY(360deg) rotateX(25deg);
    -moz-transform: rotateY(360deg) rotateX(25deg);
    -ms-transform: rotateY(360deg) rotateX(25deg);
    -o-transform: rotateY(360deg) rotateX(25deg);
    transform: rotateY(360deg) rotateX(25deg); } }

@keyframes cube {
  /* line 96, /Users/piercecorcoran/Desktop/MineCraft Draw/index.scss */
  from {
    -webkit-transform: rotateY(0deg) rotateX(25deg);
    -moz-transform: rotateY(0deg) rotateX(25deg);
    -ms-transform: rotateY(0deg) rotateX(25deg);
    -o-transform: rotateY(0deg) rotateX(25deg);
    transform: rotateY(0deg) rotateX(25deg); }

  /* line 99, /Users/piercecorcoran/Desktop/MineCraft Draw/index.scss */
  to {
    -webkit-transform: rotateY(360deg) rotateX(25deg);
    -moz-transform: rotateY(360deg) rotateX(25deg);
    -ms-transform: rotateY(360deg) rotateX(25deg);
    -o-transform: rotateY(360deg) rotateX(25deg);
    transform: rotateY(360deg) rotateX(25deg); } }

/* line 104, /Users/piercecorcoran/Desktop/MineCraft Draw/index.scss */
.face {
  position: absolute;
  background: none;
  color: #000; }

/* line 109, /Users/piercecorcoran/Desktop/MineCraft Draw/index.scss */
.cube .top {
  -webkit-transform: rotateX(90deg) translateZ(8em);
  -moz-transform: rotateX(90deg) translateZ(8em);
  -ms-transform: rotateX(90deg) translateZ(8em);
  -o-transform: rotateX(90deg) translateZ(8em);
  transform: rotateX(90deg) translateZ(8em); }

/* line 113, /Users/piercecorcoran/Desktop/MineCraft Draw/index.scss */
.cube .south {
  -webkit-transform: translateZ(8em);
  -moz-transform: translateZ(8em);
  -ms-transform: translateZ(8em);
  -o-transform: translateZ(8em);
  transform: translateZ(8em); }

/* line 117, /Users/piercecorcoran/Desktop/MineCraft Draw/index.scss */
.cube .east {
  -webkit-transform: rotateY(90deg) translateZ(8em);
  -moz-transform: rotateY(90deg) translateZ(8em);
  -ms-transform: rotateY(90deg) translateZ(8em);
  -o-transform: rotateY(90deg) translateZ(8em);
  transform: rotateY(90deg) translateZ(8em); }

/* line 121, /Users/piercecorcoran/Desktop/MineCraft Draw/index.scss */
.cube .north {
  -webkit-transform: rotateY(180deg) translateZ(8em);
  -moz-transform: rotateY(180deg) translateZ(8em);
  -ms-transform: rotateY(180deg) translateZ(8em);
  -o-transform: rotateY(180deg) translateZ(8em);
  transform: rotateY(180deg) translateZ(8em); }

/* line 125, /Users/piercecorcoran/Desktop/MineCraft Draw/index.scss */
.cube .west {
  -webkit-transform: rotateY(-90deg) translateZ(8em);
  -moz-transform: rotateY(-90deg) translateZ(8em);
  -ms-transform: rotateY(-90deg) translateZ(8em);
  -o-transform: rotateY(-90deg) translateZ(8em);
  transform: rotateY(-90deg) translateZ(8em); }

/* line 129, /Users/piercecorcoran/Desktop/MineCraft Draw/index.scss */
.cube .bottom {
  -webkit-transform: rotateX(-90deg) rotate(180deg) translateZ(8em);
  -moz-transform: rotateX(-90deg) rotate(180deg) translateZ(8em);
  -ms-transform: rotateX(-90deg) rotate(180deg) translateZ(8em);
  -o-transform: rotateX(-90deg) rotate(180deg) translateZ(8em);
  transform: rotateX(-90deg) rotate(180deg) translateZ(8em); }

/* line 138, /Users/piercecorcoran/Desktop/MineCraft Draw/index.scss */
#selector-outer {
  font-size: 1px; }

/* line 142, /Users/piercecorcoran/Desktop/MineCraft Draw/index.scss */
#hotbar {
  border: 1px solid black;
  border-right: none;
  height: 16em;
  display: inline-block;
  margin: 0;
  padding: 0; }

/* line 152, /Users/piercecorcoran/Desktop/MineCraft Draw/index.scss */
.hotbar-item {
  border-right: 1px solid black;
  height: 16em;
  width: 16em;
  display: inline-block;
  margin: 0;
  padding: 0; }

/* line 161, /Users/piercecorcoran/Desktop/MineCraft Draw/index.scss */
.selector-row {
  height: 16em; }

/* line 166, /Users/piercecorcoran/Desktop/MineCraft Draw/index.scss */
.selector-item, .selector-item-air {
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  margin: 0;
  padding: 0;
  display: inline-block; }

/* line 174, /Users/piercecorcoran/Desktop/MineCraft Draw/index.scss */
#selector {
  border-top: 1px solid black;
  border-left: 1px solid black;
  margin: 0;
  padding: 0;
  float: left;
  display: inline-block; }

/* line 183, /Users/piercecorcoran/Desktop/MineCraft Draw/index.scss */
.selector-item.selected, .selector-item-air.selected {
  border-color: #F00; }

/* line 187, /Users/piercecorcoran/Desktop/MineCraft Draw/index.scss */
#selector-fullwidth {
  width: 154em;
  height: 66em;
  overflow-x: scroll;
  padding: 3px;
  border: 3px outset gray;
  border-bottom: none;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px; }

/* line 198, /Users/piercecorcoran/Desktop/MineCraft Draw/index.scss */
#selector-tabs {
  vertical-align: bottom;
  padding-left: 6px; }

/* line 203, /Users/piercecorcoran/Desktop/MineCraft Draw/index.scss */
.tab {
  background-color: #DDD;
  width: 20px;
  height: 20px;
  display: inline-block;
  border: 3px outset gray;
  border-bottom: none;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px; }

/* line 215, /Users/piercecorcoran/Desktop/MineCraft Draw/index.scss */
.tab.selected {
  height: 24px;
  width: 24px;
  background-color: #CCC; }

/* line 221, /Users/piercecorcoran/Desktop/MineCraft Draw/index.scss */
#hotbar-border {
  border: 3px outset gray;
  border-top: none;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  padding: 3px;
  display: inline-block; }

/* line 233, /Users/piercecorcoran/Desktop/MineCraft Draw/index.scss */
#top-left {
  display: inline-block; }

/* line 237, /Users/piercecorcoran/Desktop/MineCraft Draw/index.scss */
#editor-outer {
  display: inline-block;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

/* line 242, /Users/piercecorcoran/Desktop/MineCraft Draw/index.scss */
#editor {
  position: relative;
  top: 0;
  left: 0;
  display: inline-block;
  margin-left: 9px;
  float: left; }

/* line 251, /Users/piercecorcoran/Desktop/MineCraft Draw/index.scss */
#grid {
  border-left: 1px solid black;
  border-top: 1px solid black;
  font-size: 1px;
  display: inline-block;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

/* line 259, /Users/piercecorcoran/Desktop/MineCraft Draw/index.scss */
.grid-row {
  height: 17px; }

/* line 263, /Users/piercecorcoran/Desktop/MineCraft Draw/index.scss */
.center {
  position: relative;
  width: 9px;
  height: 9px;
  line-height: 0;
  margin-bottom: -9px;
  margin-right: -9px;
  background: url(assets/center.png); }

/* line 278, /Users/piercecorcoran/Desktop/MineCraft Draw/index.scss */
.grid-cell.center {
  padding-top: -5px; }

/* line 282, /Users/piercecorcoran/Desktop/MineCraft Draw/index.scss */
.grid-cell {
  display: inline-block;
  float: left;
  width: 16em;
  height: 16em;
  border-right: 1px solid black;
  border-bottom: 1px solid black; }

/* line 291, /Users/piercecorcoran/Desktop/MineCraft Draw/index.scss */
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

/* line 300, /Users/piercecorcoran/Desktop/MineCraft Draw/index.scss */
#width-change-outer {
  display: inline-block;
  vertical-align: top; }

/* line 305, /Users/piercecorcoran/Desktop/MineCraft Draw/index.scss */
#height-change-outer {
  display: block; }

/* line 309, /Users/piercecorcoran/Desktop/MineCraft Draw/index.scss */
#size-change-outer {
  display: inline-block;
  position: absolute;
  top: 7px;
  left: 90px;
  height: 48px; }

/* line 318, /Users/piercecorcoran/Desktop/MineCraft Draw/index.scss */
#width-change-outer .fa, #height-change-outer .fa {
  color: #D0D0D0;
  text-shadow: #808080 1px 1px 2px;
  vertical-align: top;
  text-align: center;
  width: 1em;
  text-align: center; }
/* line 327, /Users/piercecorcoran/Desktop/MineCraft Draw/index.scss */
#width-change-outer .change, #height-change-outer .change {
  color: #00B000; }
/* line 331, /Users/piercecorcoran/Desktop/MineCraft Draw/index.scss */
#width-change-outer #height-editbox, #width-change-outer #width-editbox, #height-change-outer #height-editbox, #height-change-outer #width-editbox {
  display: inline-block;
  width: 2em;
  height: 1em;
  border-bottom: 1px solid #D0D0D0; }

/* line 339, /Users/piercecorcoran/Desktop/MineCraft Draw/index.scss */
#axes {
  display: block;
  margin-top: 10px;
  margin-bottom: -31px; }

/* line 345, /Users/piercecorcoran/Desktop/MineCraft Draw/index.scss */
.editor-toolbar {
  position: relative;
  margin-top: 8px;
  margin-left: 4px; }
  /* line 349, /Users/piercecorcoran/Desktop/MineCraft Draw/index.scss */
  .editor-toolbar #arrows {
    position: relative;
    display: inline-block;
    height: 48px;
    width: 80px;
    background: url(assets/arrows.png); }
    /* line 357, /Users/piercecorcoran/Desktop/MineCraft Draw/index.scss */
    .editor-toolbar #arrows .goleft, .editor-toolbar #arrows .goright, .editor-toolbar #arrows .goup, .editor-toolbar #arrows .godown, .editor-toolbar #arrows .uplayer, .editor-toolbar #arrows .downlayer {
      position: absolute;
      height: 14px;
      width: 14px; }
    /* line 363, /Users/piercecorcoran/Desktop/MineCraft Draw/index.scss */
    .editor-toolbar #arrows .goleft {
      left: 2px;
      top: 17px; }
    /* line 368, /Users/piercecorcoran/Desktop/MineCraft Draw/index.scss */
    .editor-toolbar #arrows .goright {
      right: 34px;
      top: 17px; }
    /* line 373, /Users/piercecorcoran/Desktop/MineCraft Draw/index.scss */
    .editor-toolbar #arrows .goup {
      left: 17px;
      top: 2px; }
    /* line 378, /Users/piercecorcoran/Desktop/MineCraft Draw/index.scss */
    .editor-toolbar #arrows .godown {
      left: 17px;
      bottom: 2px; }
    /* line 383, /Users/piercecorcoran/Desktop/MineCraft Draw/index.scss */
    .editor-toolbar #arrows .uplayer {
      right: 5px;
      top: 2px; }
    /* line 388, /Users/piercecorcoran/Desktop/MineCraft Draw/index.scss */
    .editor-toolbar #arrows .downlayer {
      right: 5px;
      bottom: 2px; }
    /* line 393, /Users/piercecorcoran/Desktop/MineCraft Draw/index.scss */
    .editor-toolbar #arrows .z-indicator {
      position: absolute;
      height: 12px;
      width: 18px;
      font-size: 11px;
      top: 18px;
      right: 3px;
      text-align: center; }

/* line 407, /Users/piercecorcoran/Desktop/MineCraft Draw/index.scss */
#grid * {
  image-rendering: -moz-crisp-edges;
  /* Firefox */
  image-rendering: -o-crisp-edges;
  /* Opera */
  image-rendering: crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  /* Webkit (non-standard naming) */
  -ms-interpolation-mode: nearest-neighbor;
  /* IE (non-standard property) */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

/* line 412, /Users/piercecorcoran/Desktop/MineCraft Draw/index.scss */
#grid .full {
  width: 16em;
  height: 16em; }

/* line 420, /Users/piercecorcoran/Desktop/MineCraft Draw/index.scss */
#top-right {
  display: inline-block;
  vertical-align: top;
  margin-top: 30px; }

/* line 426, /Users/piercecorcoran/Desktop/MineCraft Draw/index.scss */
#save {
  background: #00C800;
  width: 50%;
  height: auto;
  display: inline-block;
  text-align: center;
  vertical-align: middle; }

/* line 435, /Users/piercecorcoran/Desktop/MineCraft Draw/index.scss */
#load {
  background: #C80000;
  width: 50%;
  height: auto;
  display: inline-block;
  text-align: center;
  vertical-align: middle; }

/* line 444, /Users/piercecorcoran/Desktop/MineCraft Draw/index.scss */
#save-area {
  width: 25em;
  height: 4em; }

/* line 449, /Users/piercecorcoran/Desktop/MineCraft Draw/index.scss */
#save-load-outer {
  display: inline-block; }

/* line 456, /Users/piercecorcoran/Desktop/MineCraft Draw/index.scss */
.context-wrapper {
  position: absolute; }

/* line 460, /Users/piercecorcoran/Desktop/MineCraft Draw/index.scss */
.context {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  width: 0;
  height: 0;
  top: 40px;
  left: 40px;
  overflow: hidden;
  border-radius: 50%;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition: all ease-in-out 0.8s;
  -moz-transition: all ease-in-out 0.8s;
  -ms-transition: all ease-in-out 0.8s;
  -o-transition: all ease-in-out 0.8s;
  transition: all ease-in-out 0.8s; }

/* line 477, /Users/piercecorcoran/Desktop/MineCraft Draw/index.scss */
.context.on {
  width: 80px;
  height: 80px;
  top: 0;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all ease-in-out 0.8s;
  -moz-transition: all ease-in-out 0.8s;
  -ms-transition: all ease-in-out 0.8s;
  -o-transition: all ease-in-out 0.8s;
  transition: all ease-in-out 0.8s; }

/* line 490, /Users/piercecorcoran/Desktop/MineCraft Draw/index.scss */
.context-item {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -8px;
  width: 16px;
  height: 16px;
  text-align: center;
  color: #E6E6E6; }

/* line 503, /Users/piercecorcoran/Desktop/MineCraft Draw/index.scss */
.context-item-active {
  text-shadow: 0 0 0.3em #F00; }

/* line 507, /Users/piercecorcoran/Desktop/MineCraft Draw/index.scss */
.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  -ms-transition: none !important;
  transition: none !important; }

/* line 515, /Users/piercecorcoran/Desktop/MineCraft Draw/index.scss */
.pointer {
  cursor: pointer; }

/* line 523, /Users/piercecorcoran/Desktop/MineCraft Draw/index.scss */
.edit-pane {
  display: none;
  position: absolute;
  top: 50px;
  left: 50px;
  width: 200px;
  height: 150px;
  border: 2px solid black;
  background: #FFF;
  font-size: 16px; }

/* line 535, /Users/piercecorcoran/Desktop/MineCraft Draw/index.scss */
.edit-pane.open {
  display: block; }

/* line 539, /Users/piercecorcoran/Desktop/MineCraft Draw/index.scss */
.left-pane {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 75px;
  height: 150px;
  border-right: 1px solid black; }

/* line 549, /Users/piercecorcoran/Desktop/MineCraft Draw/index.scss */
.right-pane {
  display: block;
  position: absolute;
  top: 0;
  left: 75px;
  width: 125px;
  height: 50px;
  overflow: scroll;
  padding-left: 10px;
  padding-top: 5px; }

/* line 561, /Users/piercecorcoran/Desktop/MineCraft Draw/index.scss */
.edit-pane-close {
  display: block;
  width: 1em;
  height: 1em;
  background: rgba(0, 0, 0, 0.75);
  color: #EEE;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  vertical-align: middle; }

/* line 575, /Users/piercecorcoran/Desktop/MineCraft Draw/index.scss */
#experiment {
  margin: 18px auto;
  -webkit-perspective: 400px;
  -webkit-perspective-origin: 50% 50%;
  -moz-perspective: 400px;
  -moz-perspective-origin: 50% 50%;
  perspective: 400px;
  perspective-origin: 50% 50%; }

/* line 586, /Users/piercecorcoran/Desktop/MineCraft Draw/index.scss */
.edit-pane .face {
  position: absolute;
  background: none;
  color: #000; }
/* line 602, /Users/piercecorcoran/Desktop/MineCraft Draw/index.scss */
.edit-pane .face.selectable:after {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 100%;
  width: 16em;
  height: 16em;
  content: "";
  background: rgba(0, 255, 0, 0.2); }
/* line 606, /Users/piercecorcoran/Desktop/MineCraft Draw/index.scss */
.edit-pane .face.not-selectable:after {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 100%;
  width: 16em;
  height: 16em;
  content: "";
  background: rgba(255, 0, 0, 0.2); }
/* line 611, /Users/piercecorcoran/Desktop/MineCraft Draw/index.scss */
.edit-pane .face.selectable:hover:after {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 100%;
  width: 16em;
  height: 16em;
  content: "";
  background: rgba(0, 255, 0, 0.4); }
/* line 615, /Users/piercecorcoran/Desktop/MineCraft Draw/index.scss */
.edit-pane .face.not-selectable:hover:after {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 100%;
  width: 16em;
  height: 16em;
  content: "";
  background: rgba(255, 0, 0, 0.4); }
/* line 630, /Users/piercecorcoran/Desktop/MineCraft Draw/index.scss */
.edit-pane .north:hover:after {
  position: absolute;
  width: 1em;
  height: 1em;
  top: 0;
  left: 0;
  font-size: 32px;
  text-align: center;
  content: "N"; }
/* line 631, /Users/piercecorcoran/Desktop/MineCraft Draw/index.scss */
.edit-pane .south:hover:after {
  position: absolute;
  width: 1em;
  height: 1em;
  top: 0;
  left: 0;
  font-size: 32px;
  text-align: center;
  content: "S"; }
/* line 632, /Users/piercecorcoran/Desktop/MineCraft Draw/index.scss */
.edit-pane .east:hover:after {
  position: absolute;
  width: 1em;
  height: 1em;
  top: 0;
  left: 0;
  font-size: 32px;
  text-align: center;
  content: "E"; }
/* line 633, /Users/piercecorcoran/Desktop/MineCraft Draw/index.scss */
.edit-pane .west:hover:after {
  position: absolute;
  width: 1em;
  height: 1em;
  top: 0;
  left: 0;
  font-size: 32px;
  text-align: center;
  content: "W"; }
/* line 634, /Users/piercecorcoran/Desktop/MineCraft Draw/index.scss */
.edit-pane .top:hover:after {
  position: absolute;
  width: 1em;
  height: 1em;
  top: 0;
  left: 0;
  font-size: 32px;
  text-align: center;
  content: "T"; }
/* line 635, /Users/piercecorcoran/Desktop/MineCraft Draw/index.scss */
.edit-pane .bottom:hover:after {
  position: absolute;
  width: 1em;
  height: 1em;
  top: 0;
  left: 0;
  font-size: 32px;
  text-align: center;
  content: "B"; }

/* line 638, /Users/piercecorcoran/Desktop/MineCraft Draw/index.scss */
#start-facing-select {
  height: 1.1em;
  background: #C00;
  text-align: center;
  color: #fff; }

/* line 645, /Users/piercecorcoran/Desktop/MineCraft Draw/index.scss */
.paused {
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -ms-animation-play-state: paused;
  -o-animation-play-state: paused;
  animation-play-state: paused; }

/* line 653, /Users/piercecorcoran/Desktop/MineCraft Draw/index.scss */
.pauseplay {
  width: 20px;
  height: 1.1em;
  background: #0C0;
  text-align: center;
  padding-top: 0.15em;
  margin: 0 auto; }

/* line 665, /Users/piercecorcoran/Desktop/MineCraft Draw/index.scss */
#tooltip {
  position: absolute;
  font-size: 10px;
  font-family: minecraftia;
  background: #000;
  border: 2px solid navy;
  color: #fff;
  padding: 0 3px 0 3px;
  text-align: center;
  vertical-align: middle;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

/* line 677, /Users/piercecorcoran/Desktop/MineCraft Draw/index.scss */
#tooltip.hidden {
  display: none; }

/* line 681, /Users/piercecorcoran/Desktop/MineCraft Draw/index.scss */
#fill-tooltip {
  position: absolute;
  width: 16px;
  height: 16px;
  background: url(assets/bucket_black.png);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

/* line 688, /Users/piercecorcoran/Desktop/MineCraft Draw/index.scss */
#fill-tooltip.hidden, #fill-tooltip.out-of-bounds {
  display: none; }

/* line 695, /Users/piercecorcoran/Desktop/MineCraft Draw/index.scss */
.persp.item {
  -webkit-perspective: 400px;
  -webkit-perspective-origin: 50% 50%;
  -moz-perspective: 400px;
  -moz-perspective-origin: 50% 50%;
  perspective: 400px;
  perspective-origin: 50% 50%; }

/* line 704, /Users/piercecorcoran/Desktop/MineCraft Draw/index.scss */
.cube.item {
  padding: 0;
  width: 26.66667em;
  height: 26.66667em;
  -webkit-transform: translateX(3em) translateY(3em) rotateX(-22deg) rotateY(45deg);
  -moz-transform: translateX(3em) translateY(3em) rotateX(-22deg) rotateY(45deg);
  -ms-transform: translateX(3em) translateY(3em) rotateX(-22deg) rotateY(45deg);
  -o-transform: translateX(3em) translateY(3em) rotateX(-22deg) rotateY(45deg);
  transform: translateX(3em) translateY(3em) rotateX(-22deg) rotateY(45deg);
  font-size: 0.6em; }

/*# sourceMappingURL=index.css.map */