@mixin transform($trans) {
  -webkit-transform: $trans;
     -moz-transform: $trans;
      -ms-transform: $trans;
       -o-transform: $trans;
          transform: $trans;
}

.mc-face {
  position:absolute;

}

.mc-face.Xb {
  height:16px;
  width:22px;
  @include transform(rotateY(45deg) translateZ(-2px));
}

.mc-face.Xa {
  height:16px;
  width:22px; 
  @include transform(rotateY(-45deg) translateZ(2px));
}

.mc-face.railbed {
  height:16px;
  width:16px;
  @include transform(rotateX(-90deg) rotate(180deg) translateZ(8px) );
}

.mc-face.ground {
  width:16px;
  height: 16px;
  @include transform(rotateX(-90deg) rotate(180deg) translateZ(9px));
}

.mc-face.something {
  border:none;
}